html {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;

}

*, *::before, *::after {
  box-sizing: inherit;
}

@import url('https://fonts.google.com/specimen/Raleway');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');


.material-icons-outlined {
  padding-top: 1rem;
  padding-left: 1rem;
}

nav {
  background-color: #F12A4E;
  display: flex;
  display: none;
}

input {
  visibility: hidden;
}

input.nav-toggle {
  display: none;
}

input.nav-toggle:checked ~ nav {
  display: block;
}

label.nav-toggle-label {
  display: block;
}

nav ul li a {
  color: #F5F9EB;
  text-decoration: none;
  margin-right: 2rem;
  margin-left: 4rem;
}

nav ul li {
  list-style-type: none;
  text-decoration: none;
}

img {
  width: 100%;
}

main {
  margin: 0 auto;
  max-width: 1000px;
}

header {
background-color: #F12A4E;
}

.heroli {
  line-height: 1.5;
  font-size: xxx-large;
}

.ban {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: column;
}

footer {
  background-color: #F12A4E;
  color: #fff;
  margin-top: 3em;
  padding: 3rem .5rem .5rem .5rem;
}

article a {
  color: #fff;
  text-decoration: none;
  background-color: #F12A4E;
  padding: .5rem;
  border-radius: .2rem;
}

.hero-banner {
    width: 100%;
    background-color: #000;
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  li {
    list-style-type: none;
  }

.addcart {
  color: #fff;
  text-decoration: none;
  background-color: #F12A4E;
  padding: .5rem;
  border-radius: .2rem;
}

.logo {
  max-width: 200px;
  margin-left: 1rem;
}

.link {
  color: #493C39;
  text-decoration: none;
}

.review {
  padding: 1rem 2rem 2.5rem;
}

.herotxt {
  color: #fff;
  position: absolute;
  font-size-adjust: 3vw;
}

article {
  background-color: #F5F9EB;
  margin-bottom: 3rem;
  margin: 1rem;
  padding: 1rem;
}

.name {
  font-weight: bold;
  font-size-adjust: .6;
}

.price {
  font-size-adjust: .6;
}

.shop {
  background-color: #F12A4E;
  color: #fff;
  padding: .5rem;
  margin-top: 1rem;
}

.return {
  background-color: #F5F9EB;
  padding: 1rem;
  color: #000;
  margin: 1rem;
}

.icons {
  display: flex;
  width: 20%
  padding-bottom: 2em;
  column-gap: 2rem;
}

.add {
  padding: 1em;
  color: #fff;
}

.container {
    max-height: 200px;
    overflow: hidden;
    display: flex;
}

.shoptitle, .siteshop, .contentinfo, .hmargin, .ourstory {
  margin-left: 1rem;
  margin-right: 1rem;
}

.ourstory {
  padding-top: 1rem;
}

h1, h2, h3, h4, p, strong {
  color: #493C39;
}

article div img {
    width: 100%;
    object-fit: cover;
    object-position: 0% 50%;
}


@media (min-width: 700px) {
  input.nav-toggle {
    display: none;
  }
  label.nav-toggle-label {
    display: none;
  }

  nav {
    display: block;
  }

  .indexpicture {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid {
    display: grid;
    grid-template-columns:
    1fr 1fr;
  }

  .maggotflex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }

  header {
    align-items: center;
  }
  nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.ban {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  padding-right: 1rem;
}

nav ul li a:hover {
  outline: solid 1px #F5F9EB;
  transition: border-width 0.5s linear;
  border-radius: .2rem;
  outline-offset: 8px;
}
}


@media (min-width: 1200px) {
  .ourstory {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }

    .reviewsflex {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
}
